@import './variables.css';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gradient-background);
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-width: 300px;
  overflow: auto;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--gradient-primary-glow);
}

* {
  box-sizing: border-box;
}

a,
p,
span,
input,
label,
h1,
h2,
.MuiTooltip-popper {
  color: var(--color-text) !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  letter-spacing: 2px !important;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  margin: 0 !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

hr {
  border: none;
  margin: 0;
  width: 100%;
  height: 1px;
  border-radius: var(--border-radius-full);
  background-color: var(--color-text);
}

.clickable {
  cursor: pointer !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.MuiDrawer-paper {
  padding: 2rem 1rem;
  min-width: 300px;
  background: var(--gradient-card) !important;
  background-color: transparent !important;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-drawer .MuiDrawer-paper {
  height: 90% !important;
  border-top-right-radius: var(--border-radius-lg) !important;
  border-top-left-radius: var(--border-radius-lg) !important;
}

.MuiTooltip-popper > div {
  background: var(--color-background-2) !important;
  font-size: 12px !important;
}

.MuiDialog-paper {
  max-width: 600px !important;
  width: 90% !important;
  max-height: 600px !important;
  height: 90%;
  background-color: transparent !important;
  border-radius: var(--border-radius-lg) !important;
}

.swap-dialog .MuiDialog-paper {
  height: fit-content !important;
}

.MuiAccordion-root {
  background-color: transparent !important;
  background-image: none !important;
  margin: 0 !important;
}

.MuiAccordion-root::before {
  background-color: transparent !important;
}

.MuiAccordionSummary-root {
  min-height: unset !important;
  height: 48px !important;
}

.MuiAlert-action .MuiIconButton-root {
  color: inherit !important;
}

.md {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .lg {
    display: none !important;
  }

  .md {
    display: flex !important;
  }
}
