.link {
  padding: 0.5rem 1rem;
  position: relative;
  outline: none;
  border-radius: var(--border-radius-full);
  box-shadow: var(--shadow);
  transition: var(--transition-2);
  backdrop-filter: blur(4px);
  background: var(--gradient-primary-glow);
  text-align: center;
}

.vertical {
  padding: 1rem 2rem;
  width: 100%;
  border-radius: var(--border-radius-lg);
}

.link:hover,
.link:focus {
  box-shadow: none;
}

.active-link {
  box-shadow: var(--shadow-inset) !important;
}
